.fade-in {
    animation: fade-in 1.8s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#div1,
#div2,
#div3 {
  display: inline-block;
  padding: 1%
}

.buybutton{
    background-color: #59B699;
    color: rgb(255, 255, 255);
    border: 10px solid #59B699;
    font-family:nexa bold;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.fontnexa{
    font-family:nexa bold;
    cursor: default;
}
.csize{
    height:50px;
    width:50px;
    font-family:nexa bold;
    cursor: default;
}
.desc{
    font-family:nexa light;
    color:rgb(10, 7, 96);
    cursor: default;
}
.buybutton:hover{
background-color:#14846d;
border: 10px solid #14846d;
transition: 0.7s;
}

.loc{
    color:#3987be; 

}
.dates{
    background-color: #2883b4;
    color: rgb(255, 255, 255);
    font-family:lemon milk;
    cursor: default;
    font-size: 13px;
    height: 27px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    text-align:center;
    width:200px;
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.disable-select {
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none;
   -ms-user-select: none; 
}